/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
    text-shadow: 2px 2px #fff;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

/* Main content */
main {
    padding: 40px 0;
    text-align: center;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.video-container {
    margin-bottom: 30px;
}

.canvas-container {
    position: relative;
    margin-bottom: 40px;
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    background-image: url('https://raw.githubusercontent.com/Domusgpt/Coloringbooksite/main/1000007473.png');
    background-size: cover;
}

footer p {
    margin: 5px 0;
    color: #333;
}

footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #0056b3;
}

/* Fixed buy button */
.fixed-buy-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.fixed-buy-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.fixed-buy-button a:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
